<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- ida:Client is a GUID representing the Application Id for the TodoListClient app that you copied from
         the App Registration Portal (https://apps.dev.microsoft.com) -->

    <add key="ida:ClientId" value="{Enter the Application Id that you copied from the App Registration Portal.}" />

    <!-- TodoListServiceScope is either:
     - the same as ida:ClientId, as V2 apps enable several platforms for a same application (a GUID)
     - or otherwise the scope of the Web API created with aht App Registration portal, for instance api://[V2-WebApi-AppId]/access_as_user
       where [V2-WebApi-AppId] is a GUID representing the Application ID of the Web API.
     - or otherwise this can be the scope of a V1 Web API (created with https://portal.azure.com) for instance [V1_WebApi-AppId]/user_impersonation
       where [V1-WebApi-AppId] is a GUID representing the Application ID (also named Client ID) of the V1 Web API created in https://portal.azure.com.
       In that case (V1 app), the Authority used to build the PubliClientApplication in MainWindow.xaml.cs should be set to 
       "https://login.microsoftonline.com/organizations/" instead of "https://login.microsoftonline.com/common/"
    -->

    <add key="TodoListServiceScope" value="{Enter the Application Id of your TodoListService from the app registration portal}" />
    <add key="TodoListServiceBaseAddress" value="https://localhost:44321/" />

  </appSettings>
</configuration>