<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="{Enter the Application Id that you copied from the App Registration Portal.}" />
    <add key="todo:Scope" value="{Enter the scope of the Web API, as copied from the App Registration Portal, for instance api://[WebApi-AppId]/access_as_user where [WebApi-AppId] is a GUID" />
    <!-- 
       Note that the [WebAPI-AppId], which is the Application Id of the called Web API can be the same as the ida:ClientId 
       as V2 apps enable several platforms for a same application. But this can also be a different applications
       -->
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
  </appSettings>
</configuration>